body {
    color: rgb(179, 250, 199);
    font-family: Ubuntu, Garamond, monospace;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
   
}

h3 {
    margin-top: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

#score {
    /* width: 450px; */
    min-height: 220px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

#yours, #its {
    border: solid rgb(179, 250, 199) 2px;
    width: 150px;
    border-radius: 6px;
    padding: 10px;
    flex-direction: column;
}

button {
    background-color: rgb(179, 250, 199);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 6px;
    color: #000;
    border: solid rgb(179, 250, 199) 2px;
    padding: 10px 20px;
    font-family: Ubuntu, Garamond, monospace;
}

#results {
    border: solid rgb(179, 250, 199) 2px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
}

#roundWinner {
    border: solid rgb(179, 250, 199) 2px;
    color: black;
    background-color: rgb(179, 250, 199);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0px;
}